strict-ssl = false
testenv = "evt1"
zephyr_update = "yes"
zephyr_project_name = "Mocha-Zephyr_automation"
zephyr_cycle_version = "1.0.5"
zephyr_cycle_folder_parent = "1.0.5,July 2025"
zephyr_cycle_folder = "sprint1"
zephyr_cycle_name = "cycle_1"
zephyr_api_token = "mySecretZephyrToken"